.container {
    position: relative;
  }
  
  .text-overlay {
    position: absolute;
    top: 50%; /* Adjust as needed */
    left: 50%; /* Adjust as needed */
    transform: translate(-50%, -50%);
    padding: 10px;
    border-radius: 5px;
    z-index: 1; /* Ensure text appears above the image */
  }

.container img{
    height: 500px;
    width: 1500px;
} 

.royal_body{
  padding-left: 30px;
}

.table{
  margin-left: 60%;
  margin-right: 10%;
  padding-top: 8px;
  padding-bottom: 16px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  background-color: rgb(159, 161, 162, 0.3);
}
.food{
  border: 2px solid;
  border-radius: 30px;
  padding-left: 30%;
}

.btn {
  padding: 13px 23px; /*padding to increase button size */
  font-size: 20px; /* font size to increase button size */
  border: none;
  background-color: #fab730;
  color: white;
  text-align: center;
  display: inline-block;
  margin-left: 33%;
  cursor: pointer;
  border-radius: 30px; /* Optional: Add rounded corners */
}
.btn:hover{
  background-color: #fab730a0
}

.highlights{
margin-top: 20px;
margin-right: 10px;
padding-left: 20px;
padding-top: 10px;
border-radius: 30px;
background-color: azure;
}

.overview{
  color: rgba(21, 21, 21, 0.699);
}